.socialMenu {
    /*position: fixed;*/
    bottom: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    display: flex;
    margin-top: auto;
}

.socialHandleList {
    list-style: none;
    display: flex;
    padding: 0;
}

.socialHandleItem {
    margin: 8px;
}
