@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding-bottom: 250px;
    height: 100vh;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    color: var(--white);
}

:root {
    --black: #1c1e21;
    --white: #ffffff;
    --tw-color1: #a855f7;
    --tw-color1-hover: #9333ea;
    --menu-color: #2CAAAA;
    --menu-color-base: #2892AD;
}

body {
    background: var(--black);
    background: radial-gradient(circle, rgba(135, 145, 159, 1) 20%, rgba(9, 167, 168, 1) 45%, rgba(124, 106, 124, 1) 78%);
    font-family: "Inter", sans-serif;
    color: var(--white);
    display: flex;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

a {
    color: white;
}

a:hover {
    color: var(--tw-color1-hover);
}

a:visited {
    color: white;
}