.menu {
    background: #03445a;
    background: linear-gradient(to bottom, var(--menu-color-base), var(--menu-color));
    color: #FFF;
    font-weight: 500;
    height: 63px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 0px;
    float: right;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
}

.menu ul,
.menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.menu ul {
    width: 100%;
}

.menu li {
    float: left;
    display: inline;
    position: relative;
}

.menu a {
    display: block;
    line-height: 63px;
    padding: 0 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 17px;
}

.menu a.dropdownArrow:after {
    content: "\25BE";
    margin-left: 5px;
}

.menu li a:hover {
    color: #0099CC;
    background: #F2F2F2;
}

.menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 63px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.menu label {
    content: "";
    display: none;
    line-height: 63px;
    text-align: center;
    position: absolute;
    left: 35px;
}

.menu label:before {
    font-size: 1.6em;
    content: "\2261";
    margin-left: 20px;
}

.menu ul.subMenus {
    height: auto;
    overflow: hidden;
    /*width: 170px;*/
    background: #444444;
    position: absolute;
    z-index: 99;
    display: none;
    border-bottom: solid 1px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.menu ul.subMenus li {
    display: block;
    width: 100%;
}

.menu ul.subMenus a {
    color: #FFFFFF;
    font-size: 16px;
}

.menu li:hover ul.subMenus {
    display: block;
}

.menu ul.subMenus a:hover {
    background: #F2F2F2;
    color: #444444;
}

.menu button {
    border: 0;
    background-color: #444444;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
    padding: 8px;
    cursor: pointer;
}

.menu img {
    padding-top: 10px;
}

.menu button:hover {
    background: #F2F2F2;
    color: #444444;
}